<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eku.dry_ticket_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">
        <activity android:name=".first_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter></activity>
        <activity android:name=".sign_in" android:label="Sign In" android:icon="@drawable/ic_launcher"></activity>
        <activity android:name=".sign_up" android:label="Sign Up" android:icon="@drawable/ic_launcher"></activity>
        <activity android:name=".NowOnSale" android:label="Now On Sale" android:icon="@drawable/ic_launcher"></activity>
        <activity android:name=".UpcomingEvents" android:label="Upcoming Events" android:icon="@drawable/ic_launcher"></activity>
        <activity android:name=".PastEvents" android:label="Past Events" android:icon="@drawable/ic_launcher"></activity>
        <activity android:name=".Venue" android:label="Venues" ></activity>
        <activity android:name=".singleitemvenue" ></activity>

    </application>

</manifest>
